SUBSYSTEM=="block", ACTION=="add", ENV{ID_TYPE}="disk", ENV{ID_BUS}=="usb",\
  ENV{DEVTYPE}=="partition",\
  PROGRAM="/usr/bin/systemd-escape -p --template=mount@.service $env{DEVNAME}",\
  ENV{SYSTEMD_WANTS}+="%c"

SUBSYSTEM=="block", ACTION=="add", ENV{ID_TYPE}="disk", ENV{ID_BUS}=="usb",\
  ENV{DEVTYPE}=="partition",\
  PROGRAM="/usr/bin/systemd-escape -p --template=performance_checker@.timer $env{DEVNAME}",\
  ENV{SYSTEMD_WANTS}+="%c"

SUBSYSTEM=="block", ACTION=="remove", ENV{ID_TYPE}=="disk", ENV{ID_BUS}=="usb",\
  ENV{DEVTYPE}=="partition",\
  PROGRAM="/usr/bin/systemd-escape -p --template=umount@.service $env{DEVNAME}",\
  RUN+="/bin/bash -c 'systemctl start %c"
