[Unit]
After=mount@%i.service

[Service]
ConditionPathIsMountPoint = /run/media/%I
ExecStart=/bin/bash -c "/sbin/run_performance_checker /run/media/%I"
